profiles {
    nimbus {
        process {
            executor = 'local'
            module = ['singularity']
        }

        singularity {
            enabled = true
            cacheDir = '/home/ubuntu/.singularity'
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
        }

        docker.enabled = false
    }
}

params {
    WORKDIR = "/home/ubuntu/data"
    CONTAINER_MOUNT = "/data"

    SUBFITS_FILENAME = "wallaby.fits"
    COMBINED_IMAGE_FILENAME = "combined.fits"
    MIRIAD_SCRIPT_FILENAME = "combine.sh"

    COMBINATION_IMAGE = "aussrc/mw_combination:v0.1"
    MIRIAD_IMAGE = "miriad/miriad-dev:latest"
    SOFIA_IMAGE = "sofiapipeline/sofia2:latest"
    SOFIAX_IMAGE = "aussrc/sofiax:latest"
}